.about {
  text-align: center;
  padding: 5rem;
}

.about__title {
  margin-bottom: 1rem;
  color: #8d0606;
  font-size: 3.1875rem;
  font-family: Pacifico, cursive;
}

.about__description {
  font-weight: 100;
  font-size: 1.75rem;
  color: #595959;
}

/* cards */

.people {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.person {
  display: flex;
  flex-direction: column;
}

.person__name {
  margin: 1rem 0;
  font-family: Pacifico, cursive;
  color: #8d0606;
  font-size: 2rem;
}

.person__job {
  text-transform: lowercase;
  color: #595959;
  font-size: 1.25rem;
}

.person__img {
  height: 300px;
  margin: 0 auto;
  width: 300px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.person__img--roberta {
  background-image: url("../img/pessoas/roberta.jpg");
}

.person__img--marcela {
  background-image: url("../img/pessoas/marcela.jpg");
}

.person__img--andreia {
  background-image: url("../img/pessoas/andreia.jpg");
}